In [1]:
from sqlalchemy import create_engine
import pandas as pd
from datetime import datetime
from pathlib import Path
from datetime import date, timedelta
import pyarrow.parquet as pq

server = '10.40.16.19'
database = 'MSIDo'
username = 'login_fadhil'
password = 'RTvT9XBtcbjO'
TrustServerCertificate = 'yes'
engine = create_engine(f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver=/opt/microsoft/msodbcsql18/lib64/libmsodbcsql-18.3.so.2.1&TrustServerCertificate={TrustServerCertificate}")

today = date.today()
yesterday = today + timedelta(-1)

def fetching_data(yesterday: str, engine) -> pd.DataFrame:
    query = (f"""
         SELECT 
        FORMAT(o.created_at AT TIME ZONE 'UTC' AT TIME ZONE 'SE Asia Standard Time','yyyy-MM-dd') AS tanggal,
        o.created_at as order_date,
        o.id as order_id,
        o.invoice_code,
	    o.total,
        o.total_final,
        o.total_dpp,
        o.total_ppn,
	    o.total_voucher,
        o.total_discount,
        o.total_golden_promo,
        opd.subtotal,
        opd.dpp,
        opd.golden_promo,
        opd.ppn,
        opd.discount,
        u.id as user_id,
        CONCAT(up.first_name ,' ', up.last_name) as customer,
        TRIM(UPPER(u.referral_by)) AS referral_by,
        p.id as product_id,
        p.name as product_name,
        p.sku as product_sku,
        pb.id as productbrand_id,
        pb.name as productbrand_name,
        d.id as depo_id,
        d.name as depo_name,
        prin.id as principal_id,
        prin.name as principal_name,
        prin.code as principal_code,
        dist.id  as distributor_id,
        dist.name as distributor_name
    from orders o
        left join order_productdetail opd
        on o.id = opd.order_id
        left join users u
        on u.id = o.user_id
        left join users_profiles up
        on u.id = up.user_id
        left join products_details pd
        on pd.id = opd.products_detail_id 
        left join products p
        on p.id = pd.product_id 
        left join products_brands pb
        on pb.id = p.products_brand_id
        LEFT join depo d
        on d.id = o.depo_id
        left join principals prin
        on prin.id = pb.principal_id
        left join distributors dist
        on dist.id = prin.distributor_id

    WHERE FORMAT(o.created_at AT TIME ZONE 'UTC' AT TIME ZONE 'SE Asia Standard Time','yyyy-MM-dd') BETWEEN '2024-01-01' AND '2024-04-03'
    ORDER BY o.created_at ASC;""")
    df = pd.read_sql(query, engine)
    df['tanggal'] = pd.to_datetime(df['tanggal']).dt.date
    print(f"fetching data :\n {df}")
    print(f"fetching data :\n {df.dtypes}")
    return df
def write_parquet(df: pd.DataFrame, dataset_file: str) -> Path:
    path = Path(f"/home/kantor/ingest/replicate/barkul_report/data_parquet/{dataset_file}.parquet")
    df.to_parquet(path, compression="gzip")
    return path
pd.io.parquet.get_engine('auto')

def ingest_order():
    """get data """
    today = date.today()

    yesterday = today + timedelta(-1)
#yesterday_7 = yesterday + timedelta(-6)
    df = fetching_data(str(yesterday),engine)

    """write to parquet"""
    dataset_file = f"order_{yesterday}"
    write_parquet(df, dataset_file)

ingest_order()

fetching data :
            tanggal                       order_date  order_id  \
0       2024-01-01 2023-12-31 17:05:42.398000+00:00   1109258
1       2024-01-01 2023-12-31 21:35:52.134000+00:00   1109259
2       2024-01-01 2024-01-01 00:10:09.687000+00:00   1109260
3       2024-01-01 2024-01-01 00:31:06.316000+00:00   1109261
4       2024-01-01 2024-01-01 00:39:30.012000+00:00   1109262
...            ...                              ...       ...
492704  2024-04-03 2024-04-03 16:56:11.769000+00:00   1161017
492705  2024-04-03 2024-04-03 16:56:11.769000+00:00   1161017
492706  2024-04-03 2024-04-03 16:56:11.769000+00:00   1161017
492707  2024-04-03 2024-04-03 16:56:11.769000+00:00   1161017
492708  2024-04-03 2024-04-03 16:56:11.769000+00:00   1161017

            invoice_code      total  total_final   total_dpp  total_ppn  \
0       MS01242401010441  2978364.0   2972364.00  2683210.81  295153.19
1       MS01102401010441   700726.0    700726.00   631284.68   69441.32
2       MS01722401010441   691872.0    691872.00   623308.11   68563.89
3       MS00732401010442   508740.0    508307.00   457934.23   50372.77
4       MS00182401010443  3327824.0   3207597.00  2966320.72  326295.28
...                  ...        ...          ...         ...        ...
492704  MS80032404031913  4126608.0   4115127.04  3707321.66  407805.38
492705  MS80032404031913  4126608.0   4115127.04  3707321.66  407805.38
492706  MS80032404031913  4126608.0   4115127.04  3707321.66  407805.38
492707  MS80032404031913  4126608.0   4115127.04  3707321.66  407805.38
492708  MS80032404031913  4126608.0   4115127.04  3707321.66  407805.38

        total_voucher  total_discount  ...     product_sku  productbrand_id  \
0              6000.0            0.00  ...  90101231126102              2.0
1                 0.0            0.00  ...  90101232215100            103.0
2                 0.0            0.00  ...  90101412101100              2.0
3                 0.0          433.00  ...  90101111608100              3.0
4             85019.0        35208.00  ...  90101154204100             66.0
...               ...             ...  ...             ...              ...
492704            0.0        11480.96  ...  90101412107100             65.0
492705            0.0        11480.96  ...  90101151401300             66.0
492706            0.0        11480.96  ...  90101225112100             67.0
492707            0.0        11480.96  ...  90101151701300             66.0
492708            0.0        11480.96  ...  90101232122105             65.0

        productbrand_name  depo_id        depo_name  principal_id  \
0              Chocolatos       94     DEPO MEDAN 3           1.0
1             Gery Saluut       90     DEPO CIANJUR         245.0
2              Chocolatos      167     DEPO TANJUNG           1.0
3                  Garuda       64        DEPO DURI           1.0
4                  Garuda       17  DEPO PADALARANG         245.0
...                   ...      ...              ...           ...
492704         Chocolatos      162    DEPO KUNINGAN         245.0
492705             Garuda      162    DEPO KUNINGAN         245.0
492706               Gery      162    DEPO KUNINGAN         245.0
492707             Garuda      162    DEPO KUNINGAN         245.0
492708         Chocolatos      162    DEPO KUNINGAN         245.0

        principal_name principal_code distributor_id  \
0           GarudaFood             gf            1.0
1       GarudaFood (a)           gf-a            2.0
2           GarudaFood             gf            1.0
3           GarudaFood             gf            1.0
4       GarudaFood (a)           gf-a            2.0
...                ...            ...            ...
492704  GarudaFood (a)           gf-a            2.0
492705  GarudaFood (a)           gf-a            2.0
492706  GarudaFood (a)           gf-a            2.0
492707  GarudaFood (a)           gf-a            2.0
492708  GarudaFood (a)           gf-a            2.0

                 distributor_name
0       PT. Sinar Niaga Sejahtera
1                       SNS Snack
2       PT. Sinar Niaga Sejahtera
3       PT. Sinar Niaga Sejahtera
4                       SNS Snack
...                           ...
492704                  SNS Snack
492705                  SNS Snack
492706                  SNS Snack
492707                  SNS Snack
492708                  SNS Snack

[492709 rows x 31 columns]
fetching data :
 tanggal                            object
order_date            datetime64[ns, UTC]
order_id                            int64
invoice_code                       object
total                             float64
total_final                       float64
total_dpp                         float64
total_ppn                         float64
total_voucher                     float64
total_discount                    float64
total_golden_promo                float64
subtotal                          float64
dpp                               float64
golden_promo                      float64
ppn                               float64
discount                          float64
user_id                            object
customer                           object
referral_by                        object
product_id                        float64
product_name                       object
product_sku                        object
productbrand_id                   float64
productbrand_name                  object
depo_id                             int64
depo_name                          object
principal_id                      float64
principal_name                     object
principal_code                     object
distributor_id                    float64
distributor_name                   object
dtype: object